body {
  font-family: Garamond, serif;
  margin: 0;
  padding: 0; 
  position: relative;
  min-height: 100vh;
  background-color: #f0f8ff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 60px; 
  box-sizing: border-box;
}

.video-background, .Background-Video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  z-index: -1; 
}

.map-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 90px); 
  margin-top: 30px; 
  margin-bottom:88px; 
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.Background-Video video {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  display: block; 
}

.navbar {
  background-color: rgba(50, 50, 50, 0.85);
  padding: 15px 0;
  font-family: Garamond, serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px;
}

.nav-logo {
  display: flex; 
  align-items: center; 
  scale: 1.5;
}

.nav-logo img {
  height: 50px; 
  width: auto; 
  transition: all 0.25s ease-in;
}

.nav-logo:hover img {
  transform: scale(1.2);
}

.nav-logo:hover span {
  font-weight: bold;
  font-size: 35px;
}

.nav-logo span {
  font-size: 25px; 
  line-height: 50px; 
  margin-left: 10px; 
  padding: 5px;
  transition: all 0.25s ease-in;
  color: white;
}

.nav-links a {
  margin: 0 15px; 
  text-decoration: none; 
  color: #ffffff; 
  transition: all 0.25s ease;
  font-size: 20px;
}

.nav-links a:hover {
  font-weight: bold; 
  font-size: 40px; 
}

.spacer-content {
  padding-top: 100vh; 
  padding-bottom: 200px; 
}

footer {
  background-color: rgba(50, 50, 50, 0.85);
  text-align: center;
  margin-top: 50px;
  padding: 15px 20px;
  width: 100%;
  font-size: 1 rem;
  color: #ffffff;
  position: absolute; 
  bottom: 0;
}

html, body {
  overflow-x: hidden; 
}

.content-below-video {
  display: none; 
}

#paper-container {
  opacity: 0;
  transition: opacity 2s ease;
  position: fixed; 
  top: 10%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 10; 
  text-align: center;
}

#paper-container.visible {
  display: block;
  opacity: 1;  
}

.paper {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 20px;
  border-radius: 25px;
  max-width: 1000px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
  width: 100%;  
  margin: 0 auto;  
}

.paper ul {
  list-style-position: outside;  
  padding-left: 20px; 
  text-align: center;  
}

.paper li {
  display: inline-block;  
  text-align: left;  
  padding: 5px 0;  
  width: 100%; 
}

.scroll-text {
  opacity: 0;
  transition: opacity 0.75s ease;
  position: fixed;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(30, 30, 30, 0.75); 
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 24px;
  z-index: 2000;
  pointer-events: none;
}

.scroll-text.visible {
  opacity: 1;
}

.spacer-top {
  height: 100vh; 
}

.spacer-bottom {
  height: 200px; 
}

.membership-btn {
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.membership-btn:hover {
  background-color: #606060; 
  color: white;
}

#animated-text-container {
  background-color: #222222; 
  padding: 30px;
  border-radius: 15px;
  max-height: 65vh;
  max-width: 1000px;
  margin: 40px auto;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  background-color: #222222aa; 
  overflow-y: auto;
  margin: 20px auto;
}

#animated-text-container .animated-line {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-size: 30px; 
  color: #ffffff; 
  line-height: 1.6;
  margin: 10px 0;
}

#animated-text-container .animated-line.visible {
  opacity: 1;
  transform: translateY(0);
}